header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 40px 100px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 10000;
}

.lobo{
    font-size: 2em;
    text-decoration: none;
    font-weight: 700;
}

span{
    color: yellow;
}

.navegacao{
    display: flex;
    gap: 26px;
    position: relative;
}

ul,li,a{
    text-decoration:none ;
    list-style: none;
}

.navegacao li a:hover {
    color: #ff0157;
}